ul{
    display: flex;
    list-style-type: none;
    background-color: rgb(6, 146, 234);
    height:50px;
    align-items: center;
}
#modal_link{
  color:#87ceeb; 
}
#modal_cross{
  color:black;
  cursor: pointer;
}
#news_modal{
  color: black;
}
li{
    margin: 0px 25px;
    color: #ffffff;
    font-size: 1.1rem;
}
#modal_description{
  font-size:20px;
  font-style: italic;
}
#modal_title{
  font-size:30px;
  font-weight:400;
}
li:hover{
    cursor: pointer;
}
#news_modal{
  display: none;
  z-index: 2;
  text-align: center;
  padding:10px 50px;

}
#modal_image{
  display: block;
  margin:0px auto;
}
i{
    color:white;
}
#search{
    margin-left: auto;
    margin-right: 10%;
}
input[type="text"]{
    height:30px;
    font-size: 17px;
    width:250px;
    color:black;
    border-radius: 30px;
    padding-left: 10px;
}
#news{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
.body{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 140px;
}
.news_box{
    width:300px;
    height:350px;
    border: 2px solid black;
    border-radius: 10px;
    margin:10px 20px;

}
.news_image{
    min-height:200px;
    min-width: 296px;
    max-height:200px;
    max-width: 296px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.read_more{
    color:#87ceeb;
    flex-grow: 1;
}
.read_more:hover{
  cursor: pointer;
}
.date{
    align-self: flex-end;
    font-weight:400;
}
.title{
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;  
overflow: hidden;
font-size:18px;
font-weight: 600;
}
.remarks{
    margin-top: auto;
    text-align:end;
}
/* loader */
.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: #3498db;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
  }
  
  .loading-bar:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .loading-bar:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .loading-bar:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  @keyframes loading-wave-animation {
    0% {
      height: 10px;
    }
  
    50% {
      height: 50px;
    }
  
    100% {
      height: 10px;
    }
  }
  